In [2]:
import pandas as pd 
df = pd.read_csv("netflix_titles.csv")

In [4]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
from sqlalchemy import create_engine

engine = create_engine('mssql+pyodbc://SEBASTIANRM\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:3: SyntaxWarning: invalid escape sequence '\S'
C:\Users\Sebastian Ramirez\AppData\Local\Temp\ipykernel_11136\278269722.py:3: SyntaxWarning: invalid escape sequence '\S'
  engine = create_engine('mssql+pyodbc://SEBASTIANRM\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')

In [6]:
df.to_sql('netflix_raw', con=conn, index=False, if_exists='append')
conn.close()

### ANALYSE THE VALUES LENGTH, NULL VALUES AND DATA TYPES OF COLUMNS

The table structure shows that the columns are designed to support the maximum number of characters in the values, which means that executing queries takes longer to obtain the result. 

That's why I decided to create a new table in the Database with a structure that supports the necessary characters to speed up queries.

In [39]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [85]:
max(df.show_id.str.len())

5

In [86]:
max(df.type.str.len())

7

In [87]:
max(df.title.str.len())

104

In [88]:
max(df.director.str.len())

208.0

In [89]:
max(df.cast.dropna().str.len())

771

In [90]:
max(df.country.dropna().str.len())

123

In [91]:
max(df.date_added.dropna().str.len())

19

In [92]:
max(df.rating.dropna().str.len())

8

In [93]:
max(df.duration.dropna().str.len())

10

In [94]:
max(df.listed_in.dropna().str.len())

79

In [95]:
max(df.description.dropna().str.len())

248

In [3]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64